<h2 mat-dialog-title>
  {{ data.action }} detail
  <span *ngIf="data.action == 'Edit'">#{{ data.detail.detailId }}</span>
</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput (keyup)="update()" [(ngModel)]="data.detail.detailName" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option [value]="detail.detailId" *ngFor="let detail of details" (click)="selectDetail(detail)">{{ detail.detailId }} {{detail.detailName }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Count</mat-label>
    <input matInput [(ngModel)]="data.detail.detailCount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="data.detail.detailPrice">
  </mat-form-field>
  <button mat-raised-button *ngIf="data.detail.orderDetailStatus.orderDetailStatusId == 3" (click)="data.detail.orderDetailStatus = { orderDetailStatusId: 4, orderDetailStatusName: 'Spent' } ">Spent</button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.detail" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
