mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  float: right;
}

.deviceTypes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  mat-chip-option {
    pointer-events: none;

    mat-icon {
      pointer-events: auto;
    }
  }

  mat-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    background: white;
    cursor: pointer;
    height: 2rem;
    padding: 0 1rem;
  }
}
