<div class="wrapper">
  <app-header header="Home"></app-header>
  <div class="content">
    <h3 class="order-header">{{ order.deviceType.deviceTypeName }}</h3>
    <div class="order-content">
      <div>
        <h4>Order №:</h4>
        <span>{{ order.orderId }}</span>
      </div>
      <div>
        <h4>Created at:</h4>
        <span>{{ order.orderDate | date }}</span>
      </div>
      <div>
        <h4>Device:</h4>
        <mat-form-field>
          <mat-label>Maker</mat-label>
          <input matInput [(ngModel)]="order.device.deviceMaker" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input matInput [(ngModel)]="order.device.deviceModel" />
        </mat-form-field>
      </div>
      <div>
        <h4>Provided description:</h4>
        <span>{{ order.orderDescription }}</span>
      </div>
      <div>
        <h4>Status:</h4>
        <span>{{ order.orderStatus.orderStatusName }}</span>
      </div>
      <div>
        <h4>Client:</h4>
        <span>{{ order.client.user.firstName }} {{ order.client.user.lastName }}</span><br />
        <span>{{ order.client.user.email }}</span>
        <span *ngIf="order.client.user.phoneNumber != null">{{ order.client.user.phoneNumber }}</span>
      </div>
      <div>
        <h4>Employee:</h4>
        <mat-form-field class="employee-selector">
          <mat-select [(value)]="order.employee!.userId">
            <mat-option *ngFor="let employee of employees"
                        [value]="employee.userId">{{ employee.user.firstName }} {{ employee.user.lastName }}, {{ employee.employeeJob }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <h4>Services:</h4>
        <div class="services">
          <mat-chip-listbox #chipList>
            <mat-chip-option *ngFor="let service of order.services" (removed)="removeService(service)">
              {{ service.serviceName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
          <mat-select placeholder="Add service">
            <mat-option *ngFor="let service of services" (click)="addService(service)">
              {{ service.serviceName }}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div>
        <h4>Details:</h4>
        <div *ngFor="let detail of order.orderDetails">
          <span>{{ detail.detailName }}, count&price: {{ detail.detailCount }}x{{ detail.detailPrice }}</span>
        </div>
      </div>
      <button class="save" (click)="save()">Save</button>
    </div>
  </div>
</div>
