.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .order-header {
      padding: 1rem;
      font-weight: bold;
      font-size: 1.25rem;
      background-color: cornflowerblue;
    }

    .order-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1rem;
      padding: 1rem;

      mat-form-field {
        margin-bottom: -1rem;
      }

      ::ng-deep .mdc-text-field {
        border-radius: 1rem;
        border: 1px solid #aaa;
      }

      h4 {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      span {
        padding-left: 1rem;
      }

      .employee-selector {
        width: 25rem;
      }

      .services {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        mat-chip-option {
          pointer-events: none;

          mat-icon {
            pointer-events: auto;
          }
        }

        mat-select {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 24px;
          background: white;
          cursor: pointer;
          width: 10rem;
          height: 2rem;
          padding: 0 1rem;
        }
      }
    }

    .save {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      background-color: white;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
}
