<div class="wrapper">
  <app-header header="Home"></app-header>
  <div class="content">
    <h3 class="order-header">{{ order.deviceType.deviceTypeName }}</h3>
    <div class="order-content">
      <div>
        <h4>Order №:</h4>
        <span>{{ order.orderId }}</span>
      </div>
      <div>
        <h4>Created at:</h4>
        <span>{{ order.orderDate | date }}</span>
      </div>
      <div *ngIf="order.device != null">
        <h4>Device:</h4>
        <span>{{ order.device.deviceMaker }} {{ order.device.deviceModel }}</span>
      </div>
      <div>
        <h4>Provided description:</h4>
        <span>{{ order.orderDescription }}</span>
      </div>
      <div>
        <h4>Status:</h4>
        <span>{{ order.orderStatus.orderStatusName }}</span>
      </div>
      <div *ngIf="order.employee != null">
        <h4>Employee:</h4>
        <span>{{ order.employee.user.firstName }} {{ order.employee.user.lastName }}</span>
      </div>
      <div *ngIf="order.services.length != 0">
        <h4>Services:</h4>
        <div *ngFor="let service of order.services">
          <span>{{ service.serviceName }}, price: {{ service.servicePrice }}</span>
          <span *ngIf="order.orderDiscountValue != 0"> -{{ order.orderDiscountValue * 100 }}%</span>
        </div>
      </div>
      <div *ngIf="order.orderDetails.length != 0">
        <h4>Details:</h4>
        <div *ngFor="let detail of order.orderDetails">
          <span>{{ detail.detailName }}, count&price: {{ detail.detailCount }}x{{ detail.detailPrice }}</span>
        </div>
      </div>
      <div>
        <h4>Final price:</h4>
        <span>{{ calcPrice() }}</span>
      </div>
    </div>
  </div>
</div>
