.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .content {
  display: flex;
  flex-direction: column;
      overflow: hidden;

    .order-header {
      padding: 1rem;
      font-weight: bold;
      font-size: 1.25rem;
      background-color: cornflowerblue;
    }

    .order-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1rem;
      padding: 1rem;

      h4 {
        font-weight: bold;
      }

      span {
        padding-left: 1rem;
      }
    }
  }
}
