<h2 mat-dialog-title>
  {{ data.action }} detail
  <span *ngIf="data.action == 'Edit'">#{{ data.detail.detailId }}</span>
</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.detail.detailName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Count</mat-label>
    <input matInput [(ngModel)]="data.detail.detailCount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="data.detail.detailPrice">
  </mat-form-field>
  <h4>DeviceTypes:</h4>
  <div class="deviceTypes">
    <mat-chip-listbox #chipList>
      <mat-chip-option *ngFor="let deviceType of data.detail.deviceTypes" (removed)="removeDeviceType(deviceType)">
        {{ deviceType.deviceTypeName }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-option>
    </mat-chip-listbox>
    <mat-select placeholder="Add device type">
      <mat-option *ngFor="let deviceType of data.deviceTypes" (click)="addDeviceType(deviceType)">
        {{ deviceType.deviceTypeName }}
      </mat-option>
    </mat-select>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.detail" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
