<div class="wrapper">
  <app-header header="Home"></app-header>
  <div class="content">
    <h3 class="detail-header"> Details </h3>
    <div class="table-container">
      <table mat-table [dataSource]="details" class="detail-table"
             matSort matSortActive="detailName" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="detailId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>#</th>
          <td mat-cell *matCellDef="let row">{{ row.detailId }}</td>
        </ng-container>
        <ng-container matColumnDef="detailName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.detailName }}</td>
        </ng-container>
        <ng-container matColumnDef="detailCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Count</th>
          <td mat-cell *matCellDef="let row">{{ row.detailCount }}</td>
        </ng-container>
        <ng-container matColumnDef="detailPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Price</th>
          <td mat-cell *matCellDef="let row">{{ row.detailPrice }}</td>
        </ng-container>
        <ng-container matColumnDef="orderDetailStatus.orderDetailStatusName">
          <th mat-header-cell *matHeaderCellDef disableClear>Status</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            <mat-select [(ngModel)]="details[i].orderDetailStatus.orderDetailStatusId" (selectionChange)="setOrderDetailStatusFor(row)">
              <mat-option *ngFor="let ods of orderDetailStatuses"
                          [value]="ods.orderDetailStatusId">{{ ods.orderDetailStatusName }}</mat-option>
            </mat-select>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
      </table>
    </div>
    <div class="paginator">
      <!--<button mat-raised-button (click)="openAddDialog()">Add</button>-->
      <div>
        <mat-label>Device Type:</mat-label>
        <mat-select [(ngModel)]="orderDetailStatus" (selectionChange)="setOrderDetailStatus($event)">
          <mat-option *ngFor="let ods of orderDetailStatuses"
                      [value]="ods.orderDetailStatusId">{{ ods.orderDetailStatusName }}</mat-option>
        </mat-select>
      </div>
      <div>
        <mat-label>Filter by name:</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </div>
      <mat-paginator [length]="detailCount" [pageSize]="pageSize" [pageIndex]="pageIndex"></mat-paginator>
    </div>
  </div>
</div>
