.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .detail-header {
      padding: 1rem;
      font-weight: bold;
      font-size: 1.25rem;
      background-color: cornflowerblue;
    }

    .table-container {
      overflow: auto;
    }

    .paginator {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      background-color: white;

      mat-label {
        font-size: 12px;
      }

      mat-select, input {
        width: 150px;
        border: 1px solid #aaa;
        border-radius: 4px;
        margin-left: 0.5rem;
        padding: 0.5rem;
      }
    }
  }
}
