<header>
  <button (click)="goHome()">
    <h1>{{ header }}</h1>
  </button>
  <button mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
  <mat-menu #menu>
    <div mat-menu-item (click)="signIn()" *ngIf="!isSignIn">
      <mat-icon>login</mat-icon>Sign In
    </div>
    <div mat-menu-item (click)="goOrders()" *ngIf="isSignIn">
      <mat-icon>task</mat-icon>My Orders
    </div>
    <div mat-menu-item (click)="goDetails()" *ngIf="isEmployee() || isManager()">
      <mat-icon>settings</mat-icon>Details
    </div>
    <div mat-menu-item (click)="goOrderDetails()" *ngIf="isManager()">
      <mat-icon>settings</mat-icon>Details to buy
    </div>
    <div mat-menu-item (click)="goAnalytics()" *ngIf="isManager()">
      <mat-icon>analytics</mat-icon>Analytics
    </div>
    <div mat-menu-item (click)="signOut()" *ngIf="isSignIn">
      <mat-icon>logout</mat-icon>Sign Out
    </div>
  </mat-menu>
</header>
