header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background: rgba(0,0,0,0.5);

  h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 1rem;
  }
}
