.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      background-color: white;
    }
  }
}
