<div class="wrapper">
  <app-header header="Home"></app-header>
  <div class="content">
    <canvasjs-chart [options]="chartOptions" #chart></canvasjs-chart>
    <div class="footer">
      <button mat-raised-button (click)="downloadData()">Download data</button>
      <mat-paginator [length]="yearsCount" [pageSize]="1" [hidePageSize]="true" [pageIndex]="pageIndex" (page)="update($event)"></mat-paginator>
    </div>
  </div>
</div>
