<div class="paginator">
  <ng-content></ng-content>
  <div>
    <mat-label>Order by:</mat-label>
    <mat-select [(value)]="sortingOption" (selectionChange)="setSorting($event)">
      <mat-option *ngFor="let option of sortingOptions"
                  [value]="option">{{ option }}</mat-option>
    </mat-select>
  </div>
  <mat-checkbox [checked]="isDescending"
                (change)="setDescending($event.checked)">{{ isDescending ? 'descending' : 'ascending' }}</mat-checkbox>
  <mat-paginator (page)="handlePageEvent($event)"
                 [length]="count"
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [showFirstLastButtons]="true" />
</div>
