.paginator {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  background-color: white;

  mat-label {
    font-size: 12px;
  }

  mat-select {
    width: 120px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-left: 0.5rem;
    padding: 0.5rem;
  }
}
