<div class="wrapper">
  <app-header header="Home"></app-header>
  <div class="content">
    <h2>Your orders</h2>
    <div class="orders">
      <div class="order-container" *ngFor="let order of orders" (click)="goToOrder(order.orderId)">
        <h3 class="order-header">{{ order.deviceType.deviceTypeName }}</h3>
        <div class="order-content">
          <div>Order №: {{ order.orderId }}</div>
          <div>Created at: {{ order.orderDate | date }}</div>
          <div>Status: {{ order.orderStatus.orderStatusName }}</div>
          <div>Price: {{ order.orderPrice }}</div>
        </div>
      </div>
    </div>
    <app-paginator (newPage)="update($event)"
                   [count]="orderCount"
                   [isDescending]="isDescending"
                   [sortingOption]="sortingOption"
                   [sortingOptions]="sortingOptions"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"></app-paginator>
  </div>
</div>
