.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .content {
    overflow: auto;

    h2 {
      padding: 2rem;
      font-size: 1.5rem;
      text-align: center;
    }

    .orders {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2rem;
      padding: 0rem 2rem;

      .order-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: whitesmoke;
        cursor: pointer;

        .order-header {
          padding: 1rem;
          font-weight: bold;
          font-size: 1.25rem;
          background-color: cornflowerblue;
        }

        .order-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          gap: 1rem;
          padding: 1rem;
        }
      }
    }

    .filter {
      mat-label {
        font-size: 12px;
      }

      mat-select {
        width: 120px;
        border: 1px solid #aaa;
        border-radius: 4px;
        margin-left: 0.5rem;
        padding: 0.5rem;
      }
    }
  }
}
