<div class="wrapper">
  <app-header header="Home"></app-header>
  <div class="content">
    <h3 class="order-header">{{ order.deviceType.deviceTypeName ?? '' }}</h3>
    <div class="order-content">
      <div>
        <h4>Order №:</h4>
        <span>{{ order.orderId }}</span>
      </div>
      <div>
        <h4>Created at:</h4>
        <span>{{ order.orderDate | date }}</span>
      </div>
      <div>
        <h4>Device:</h4>
        <mat-form-field>
          <mat-label>Maker</mat-label>
          <input matInput [(ngModel)]="order.device.deviceMaker" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input matInput [(ngModel)]="order.device.deviceModel" />
        </mat-form-field>
      </div>
      <div>
        <h4>Provided description:</h4>
        <span>{{ order.orderDescription }}</span>
      </div>
      <div>
        <h4>Status:</h4>
        <span>{{ order.orderStatus.orderStatusName }}</span>
      </div>
      <div>
        <h4>Client:</h4>
        <span>{{ order.client.user.firstName }} {{ order.client.user.lastName }}</span><br />
        <span>{{ order.client.user.email }}</span>
        <span *ngIf="order.client.user.phoneNumber != null">{{ order.client.user.phoneNumber }}</span>
      </div>
      <div>
        <h4>Services:</h4>
        <div class="services">
          <mat-chip-listbox #chipList>
            <mat-chip-option *ngFor="let service of order.services" (removed)="removeService(service)">
              {{ service.serviceName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
          <mat-select placeholder="Add service">
            <mat-option *ngFor="let service of services" (click)="addService(service)">
              {{ service.serviceName }}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="details">
        <h4>Details:</h4>
        <table mat-table [dataSource]="order.orderDetails" class="detail-table">
          <ng-container matColumnDef="detailId">
            <th mat-header-cell *matHeaderCellDef disableClear>#</th>
            <td mat-cell *matCellDef="let row">{{ row.detailId }}</td>
          </ng-container>
          <ng-container matColumnDef="detailName">
            <th mat-header-cell *matHeaderCellDef disableClear>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.detailName }}</td>
          </ng-container>
          <ng-container matColumnDef="detailCount">
            <th mat-header-cell *matHeaderCellDef disableClear>Count</th>
            <td mat-cell *matCellDef="let row">{{ row.detailCount }}</td>
          </ng-container>
          <ng-container matColumnDef="detailPrice">
            <th mat-header-cell *matHeaderCellDef disableClear>Price</th>
            <td mat-cell *matCellDef="let row">{{ row.detailPrice }}</td>
          </ng-container>
          <ng-container matColumnDef="orderDetailStatus.orderDetailStatusName">
            <th mat-header-cell *matHeaderCellDef disableClear>Status</th>
            <td mat-cell *matCellDef="let row">{{ row.orderDetailStatus.orderDetailStatusName }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editDetail(row)"></tr>
        </table>
        <button mat-raised-button (click)="addDetail()">Add</button>
      </div>
      <button mat-raised-button class="complete" (click)="complete()">Complete</button>
      <button mat-raised-button class="save" (click)="save()">Save</button>
    </div>
  </div>
</div>
