.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .content {
    overflow: auto;

    h2 {
      padding: 2rem;
      font-size: 1.5rem;
      text-align: center;
    }

    .services {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      padding: 0rem 2rem 2rem;

      .service-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: whitesmoke;

        .service-header {
          padding: 1rem;
          font-weight: bold;
          font-size: 1.25rem;
          background-color: cornflowerblue;
        }

        .service-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          gap: 1rem;
          padding: 1rem;
        }
      }
    }

    .create-order {
      padding: 2rem;
      text-align: center;
      background-color: whitesmoke;

      .default {
        font-weight: bold;
        font-size: 1.5rem;
      }

      .create-order-form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
