<div class="wrapper">
  <app-header header="Home"></app-header>
  <div class="content">
    <h2>Our services</h2>
    <div class="services">
      <div class="service-container" *ngFor="let deviceType of aggregatedServices">
        <h3 class="service-header">{{ deviceType.deviceTypeName }}</h3>
        <div class="service-content">
          <div *ngFor="let service of deviceType.services">
            <span>{{ service.serviceName }}, price: {{ service.servicePrice }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="create-order">
      <div class="default" *ngIf="!isSignIn">Sign in to create order</div>
      <form class="create-order-form" *ngIf="isSignIn" [formGroup]="createOrderForm" (ngSubmit)="sendOrder()">
        <h2>Need a service?</h2>
        <mat-form-field>
          <mat-label>Your device</mat-label>
          <mat-select formControlName="deviceTypeId">
            <mat-option *ngFor="let deviceType of aggregatedServices" [value]="deviceType.deviceTypeId">{{ deviceType.deviceTypeName }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Problem description</mat-label>
          <textarea matInput formControlName="orderDescription"></textarea>
        </mat-form-field>
        <button mat-flat-button type="submit" color="primary" [disabled]="!createOrderForm.valid">Send</button>
      </form>
    </div>
  </div>
</div>
